In [5]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(101)
my_data = np.random.randint(0,101,(4,3))
my_data

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [7]:
my_ind=['ind','wi','aus','eng']

In [9]:
my_columns=['bat','all','bowl']

In [13]:
df = pd.DataFrame(data = my_data,index=my_ind,columns=my_columns) # creating data frame

In [14]:
df

     bat  all  bowl
ind   95   11    81
wi    70   63    87
aus   75    9    77
eng   40    4    63

In [15]:
df.info()
# gives info

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ind to eng
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bat     4 non-null      int64
 1   all     4 non-null      int64
 2   bowl    4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [22]:
# to show all files

In [23]:
ls

sample_data/  tips.csv

In [24]:
# to show file directory

In [25]:
pwd

'/content'

In [28]:
d1 = pd.read_csv("tips.csv")
# reading a csv

In [29]:
d1.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [30]:
# upload file before reading it

In [31]:
# without uploading you directly read by adress