In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
ind =["harsha","shanmukh","rupesh"]

In [4]:
package =["12lpa","15lpa","9lpa"]

In [5]:
my_ser = pd.Series(index=ind,data=package)

In [6]:
my_ser

harsha      12lpa
shanmukh    15lpa
rupesh       9lpa
dtype: object

In [7]:
# dict to series

In [8]:
my_dict = {"hii":2,"jai":4,"fck":9}

In [10]:
my_ser2=pd.Series(my_dict)

In [11]:
my_ser2['hii']

2

In [12]:
my_ser2.keys()

Index(['hii', 'jai', 'fck'], dtype='object')

In [15]:
my_ser2*2
# BROADCASTING can be done

hii     4
jai     8
fck    18
dtype: int64

In [18]:
my_ser2/100

hii    0.02
jai    0.04
fck    0.09
dtype: float64

In [20]:
my_ser + my_ser2
# no commen indexes so all values are nan

fck         NaN
harsha      NaN
hii         NaN
jai         NaN
rupesh      NaN
shanmukh    NaN
dtype: object

In [23]:
ser3 = pd.Series({'nani':100,'sundar_pichai':90,'kane_S_w':95})

In [26]:
my_ser2.add(ser3,fill_value = 0)

fck                9.0
hii                2.0
jai                4.0
kane_S_w          95.0
nani             100.0
sundar_pichai     90.0
dtype: float64

In [27]:
# this is all about series
# initializing
# simple operations
# adding two series